@import '_reset.pcss';

@import './components/header.css';
@import './components/Hero.css';
@import './components/About.css';
@import './components/Company.css';
@import './components/Programe.css';
@import './components/Sectors.css';
